<div class="container-fluid">
  <div class="row">
    <!-- <div style="display: block; width: 400px">
      <canvas id="canvas" height="320">{{ chart }}</canvas>
    </div> -->
  </div>
  <div class="row">
    <div style="text-align:center ;margin-top: 8rem;">
      <mat-form-field appearance="outline" style="width:30% ;">
        <mat-label>Search here</mat-label>
        <input matInput type="search" >
    </mat-form-field>
  </div>
  <div style="text-align:center ;">
    <button mat-raised-button color="primary" style="margin: 15px;height: 5rem;width: 150px;" (click)="employelist()" >Employee List<mat-icon>supervisor_account</mat-icon></button>
    <button mat-raised-button color="primary"  style="margin: 15px;height: 5rem;width: 150px;" (click)="createemploye()" >Create Employee	<mat-icon>recent_actors</mat-icon></button>
    <button mat-raised-button color="primary"  style="margin: 15px;height: 5rem;width: 150px;"(click)="settings()" >Settings	<mat-icon>settings</mat-icon></button>
  </div>
    

  </div>
</div>