.container-fluid{
padding:3% 3% 8% 3%;; background-color: #e9e7ea;
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  th{
    font-size:large;
  }
  td{
    font-size: medium;
    height: 5rem;
  }
 